:root {
  --bg: #121417;
  --text: #fcfdff;
  --highlight: #5196f055;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--bg);
  color: var(--text);
}

p, span, a, code, pre, h1, h2, h3, h4, footer {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 1.25rem;
  line-height: 1.25em;
}

a {
  color: inherit;
  background-color: var(--highlight);
  padding: 0 0.2em;
  border-radius: 3px;
  text-decoration: none;
}

a[href^="#"] {
  background-color: transparent;
}

a[href^="#"] > sup {
  background-color: var(--highlight);
  padding: 0 0.2em;
  border-radius: 3px;
}

* {
  box-sizing: border-box;
}

.campfire {
  margin: 4em 0;
  width: 100%;
  text-align: center;
}

.main-body {
  text-align: left;
  width: 50vw;
  margin: 10vh 25vw;
}

@media all and (max-width: 1200px) {
  .main-body {
    width: 90vw;
    margin: 10vh 5vw;
  }
}

.chat-item {
  display: flex;
  position: relative;
  margin: 1em 0;
}

.chat-speaker {
  flex: 0 0 3em;
}

.chat-speaker > h2 {
  margin: 0;
  text-align: center;
  width: 1.5em;
}

.chat-active > .chat-speaker > h2 {
  color: var(--bg);
  background-color: var(--text);
}

.chat-text, .chat-text * {
  flex: 0 0 1;
  margin: 0 0 1em 0;
}

.chat-inactive > .chat-text {
  opacity: 0.7;
}

hr {
    overflow: visible;
    padding: 0;
    border: none;
    color: var(--text);
    text-align: center;
}

hr:after {
    content: "﹡﹡﹡";
    display: inline-block;
    position: relative;
    margin: 2em 0;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: transparent;
}

.footer {
  margin-top: 15vh;
}

.footer * {
  font-size: 1.3rem;
  border-radius: 0;
  background-color: transparent;
}

.footer p {
  opacity: 0.5;
}
